<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/index/css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Teachant.com</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">首页</a></li>
                  <li><a href="#">功能</a></li>
                  <li><a href="#">联系我们</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
          	<a href="./auth/signin">Sign In</a>
			<!-- Render AngularJS views  -->
			<section ng-view>TODO ...</section>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy;2015 版权所有 <a href="http://www.teachant.com">Teachant.com</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	
	<!-- Load the Socket.io client -->	<!--
	<script type="text/javascript" src="/socket.io/socket.io.js"></script> -->

	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	
	<!-- Load the articles module --> <!--
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script> -->

	<!-- Load the example module --> <!--
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script> -->

	<!-- Load the users module --> 
	<script type="text/javascript" src="/index/index.client.module.js"></script>

	<!-- Load the chat module --> <!--
	<script type="text/javascript" src="/chat/chat.client.module.js"></script>
	<script type="text/javascript" src="/chat/services/socket.client.service.js"></script>
	<script type="text/javascript" src="/chat/controllers/chat.client.controller.js"></script>
	<script type="text/javascript" src="/chat/config/chat.client.routes.js"></script> -->

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>