<ion-modal-view>
    <ion-header-bar class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear" ng-click="closeModal()">
            取消
        </button>
    </ion-header-bar>
    <ion-content>
    	<div class="list">
			<li class="item">
                无……
            </li>
		</div>
    </ion-content>
</ion-modal-view>