<ion-modal-view>
		<ion-tabs class="tabs-striped tabs-top tabs-color-positive tabs-icon-left">

			<ion-tab title="登录" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
			    <ion-header-bar class="bar bar-header item-input-inset">
			    	<h3><i class="icon ion-ios-person"></i> 登录</h3>
			    </ion-header-bar>
			    <ion-content>
			    	<div class="list">
						<label class="item item-input">
							<input type="text" placeholder="用户名" ng-model="username">
						</label>
						<label class="item item-input">
							<input type="password" placeholder="密码" ng-model="password">
						</label>
						<button class="button button-block button-positive" ng-click="signin(username, password)">
							登录
						</button>
			    </ion-content>
		</div>
			</ion-tab>

			<ion-tab title="注册" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline">
			    <ion-header-bar class="bar bar-header item-input-inset">
			    	<h3><i class="icon ion-ios-personadd"></i> 注册</h3>
			    </ion-header-bar>
			    <ion-content>
			    	<div class="list">
						<label class="item item-input">
							<span class="input-label">注册身份</span>
							<ion-radio ng-model="postData.type" ng-value="'student'" ng-click="setType('student')">学生</ion-radio>
							<ion-radio ng-model="postData.type" ng-value="'teacher'" ng-click="setType('teacher')">老师</ion-radio>
						</label>
						<label class="item item-input">
							<span class="input-label">用户名</span>
							<input type="text" placeholder="登录名" ng-model="postData.username">
						</label>
						<label class="item item-input">
							<span class="input-label">姓名</span>
							<input type="text" placeholder="真实姓名" ng-model="postData.realName">
						</label>
						<label class="item item-input">
							<span class="input-label">Email</span>
							<input type="email" placeholder="推荐QQ邮箱" ng-model="postData.email">
						</label>
						<label class="item item-input" ng-show="postData.type=='student'">
							<span class="input-label">班级</span>
							<input type="text" placeholder="班级全称" ng-model="postData.className">
						</label>
						<label class="item item-input" ng-show="postData.type=='student'">
							<span class="input-label">学号</span>
							<input type="text" placeholder="惠州学院学号" ng-model="postData.schoolNumber">
						</label>
						<label class="item item-input">
							<span class="input-label">密码</span>
							<input type="password" placeholder="6位以上" ng-model="postData.password">
						</label>
						<button class="button button-block button-positive" ng-click="signup(postData)">
							注册
						</button>
			    </ion-content>
			</ion-tab>

		</ion-tabs>
</ion-modal-view>