<ion-view view-title="所有课程">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openModal()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">UML与可视化建模</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">移动应用开发（Android）</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">高级网页设计（Node.js）</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
