<ion-view view-title="所有课程">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openModal()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-positive">UML与可视化建模</div>
      <div class="item item-body">
        <div>
          <p>课程编号：14100043</p>
          <p>课程名称（中文）：UML与可视化建模</p>
          <p>课程名称（英文）：UML and Visual Modeling</p>
          <p>适用专业：计算机科学与技术专业（含师范）、网络工程专业、软件工程专业</p>
          <p>课程类别：专业必修课程（双语）</p>
          <p>课程学时：总学时48     讲授学时32    实验学时16</p>
          <p>课程学分：2.5</p>
          <p>先修课程：软件工程、面向对象程序设计、Java语言程序设计</p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-balanced">移动应用开发（Android）</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-royal">高级网页设计（Node.js）</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
