<ion-view view-title="帐号设置">
	<ion-content>
		<ion-list>
			<label class="item item-input item-select">
				<div class="input-label">
					我是
				</div>
				<select ng-model="type">
					<option value="student">学生</option>
					<option value="teacher">老师</option>
				</select>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">姓名</span>
				<input type="text" placeholder="姓名" ng-model="name">
			</label>
			<label class="item item-input item-floating-label" ng-show="{{type=='student'}}">
				<span class="input-label">班级</span>
				<input type="text" placeholder="班级" ng-model="classname">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">学号</span>
				<input type="text" placeholder="学号" ng-model="schoolNumber">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="Email" ng-model="email">
			</label>
			<button class="button button-block button-positive" ng-click="save()">
				保存
			</button>
		</ion-list>
	</ion-content>
</ion-view>
