<ion-view view-title="设置">
	<ion-content>
	    <ion-list>
			<a class="item item-thumbnail-left item-icon-right" href="#/tab/settings/account">
				<img src="./img/ionic.png">
				<h2>{{user.type=='teacher'?'教师':'学生'}}：{{user.realName}} (#{{user.username}})</h2>
				<p>简介：{{user.introduction?user.introduction:'无'}}</p>
				<p>课程：{{user.courses?user.courses:'无'}}</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
	    	<div class="item item-divider">&nbsp;</div>
		    <a class="item item-icon-left item-icon-right" href="#/tab/settings/courses">
				<i class="icon ion-ios-book calm"></i>
				<h2>课程</h2>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		    <a class="item item-icon-left item-icon-right" href="#/tab/settings/students" ng-show="user.type=='teacher'">
				<i class="icon ion-ios-person balanced"></i>
				<h2>学生</h2>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		    <a class="item item-icon-left item-icon-right" href="#/tab/settings/teachers" ng-show="user.type=='student'">
				<i class="icon ion-ios-person royal"></i>
				<h2>老师</h2>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
	    	<div class="item item-divider">&nbsp;</div>
		    <a class="item item-icon-left item-icon-right" href="#/tab/settings/aboutus">
				<i class="icon ion-ios-people dark"></i>
				<h2>关于微课堂</h2>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
	    	<div class="item item-divider">&nbsp;</div>
		    <a class="item item-assertive" ng-click="signout()" ng-show="user">
				<p style="text-align:center;">注销</p>
			</a>
	    </ion-list>
	</ion-content>
</ion-view>
