<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="微课堂" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="所有课程" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/courses">
    <ion-nav-view name="tab-courses"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
